.ff_Poppins {
    font-family: 'Poppins', sans-serif;
}

:root {
    --fs-xl: 72px;
    --fs-lg: 48px;
    --fs-md: 36px;
    --fs-sm: 24px;
    --fs-xsm: 18px;


    /* colors  */
    --color-white: #FFFFFF;
    --color-red: #C8010E;
    --color-lightred: #EC0010;
    --color-yellow: #F3E704;
    --color-black: #000000;
}

/* colors  */
.color_white {
    color: var(--color-white) !important;
}

.color_red {
    color: var(--color-red) !important;
}

.color_lightred {
    color: var(--color-lightred) !important;
}

.color_yellow {
    color: var(--color-yellow) !important;
}

.bg_color_black {
    background: var(--color-black) !important;
}

.bg_color_black {
    background: var(--color-black) !important;
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_xsm {
    font-size: var(--fs-xsm);
}

/* font weight  */
.fw_700 {
    font-weight: 700;
}

.fw_600 {
    font-weight: 600;
}

.fw_500 {
    font-weight: 500;
}

.fw_400 {
    font-weight: 400;
}

@media (max-width:1400px) {
    :root {
        --fs-xl: 58px;
        --fs-lg: 39px;
        --fs-md: 31px;
    }
}

@media (max-width:992px) {
    :root {
        --fs-xl: 53px;
        --fs-md: 26px;
        --fs-sm: 20px;
    }
}

@media (max-width:768px) {
    :root {
        --fs-xl: 50px;
        --fs-md: 19px;
        --fs-sm: 18px;
        --fs-xsm: 15px;
    }
}

@media (max-width:576px) {
    :root {
        --fs-xl: 36px;
        --fs-lg: 24px;
        --fs-md: 18px;
        --fs-sm: 20px;
        --fs-xsm: 14px;
    }
}